# Shortcuts
source ~/.shortcuts
source ~/.savelastcwd

# Easier navigation: .., ..., ...., ..... and ~
alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias ~="cd ~"

# or use Navigate by .1 .2 .3 .4 for ../ ../../ ../../../ ../../../../
dotSlash=""
for i in `seq 1 5`
  do
    dotSlash="${dotSlash}../";
    baseName=".${i}"
    alias $baseName="cd ${dotSlash}"
  done

lessman() {
  man $1 | less
}
alias man=lessman

# change mkdir to mkdir && cd
  # function mkdr {
    # command mkdir $1 && cd $1
mkdr() {
  mkdir $1 && cd $1
}

alias lo=logout

# Applicaions
# alias vim="/usr/local/bin/vim"
# alias vi="mvim"
# alias edit="mvim"

# quickly edit aliases
alias ali="vim ~/.aliases"

# Detect which 'ls' flavor is in use
if ls --color > /dev/null 2>&1;
  then ##GNU 'ls'
    colorflag="--color"
  else ##OS X 'ls'
    colorflag="-G"
fi

alias 'npm ls'="npm ls --"
# List all files colorized in long format
alias l="ls -1F ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -ltaF ${colorflag}"

# List only directories
alias lsd="ls -F ${colorflag} | grep --color=never '^d'"

# Always use color output for 'ls'
alias ls="command ls ${colorflag}"

# Some simple TMUX aliases
alias t="tmux -2"
alias ta="tmux attach"

# Nodemon (install with package manager)
alias n="nodemon -q"

alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Hide/show all files in finder
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"

# Hide/show all desktop icons
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# lock the screen when going AFK
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# echo local ip address and serve local git repo
alias gitServer="echo `ipconfig getifaddr en0` && git serve"

# override npm command for aliases
npm() {
  ## aliases
  # adds an ``npm l'' alias to list only the top level of dependencies
	if [ $1 == "l" ]; then
    command npm list --depth=0 "${@:2}";
  else
    command npm "$@";
  fi;
}

# create-react-app command that cleans the source and public folders
cra() {
  command npx create-react-app "$@";
  cd $@;
  cd src;
  sed -i.bak -e '4,5d;8,12d' index.js
  sed -i.bak -e '3a\
import App from ''./app'';
' index.js;
  mv -f App.js app.js;
  sed -i.bak -e '2,3d;8,23d' app.js
  sed -i.bak -e '5a\
\       <div />' app.js;
  rm -f App.css App.test.js *.bak logo.svg serviceWorker.js;
  cd ./../public;
  sed -i.bak -e '5d;10,25d;28d;30,39d' index.html;
  rm -f favicon.ico manifest.json *.bak;
  cd ..;
}

# execute query, constructed by array-joining the following arguments with '+'
g() {
  oldIFS="$IFS"
  IFS='+'
  open "https://google.com/search?q=$*"
  IFS=$oldIFS
}
