.CFUserTextEncoding
.DS_Store
.InstallAnywhere/
.Trash/
.Trash-1000/
.Xauthority
.adobe/
.bash_history
.bash_profile.macports-saved_2014-10-19_at_19:40:30
.cache/
.config/
.dropbox/
.dropbox-alt/
.emacs.d/
.flexlmrc*
.gitconfig
.lesshst
.local/
.maplesoft/
.rnd
.sandbox/
.ssh/
.subversion/
.swipl-dir-history/
.swp
.viminfo
.vim/.netrwhist
.wapi/
.zcompdump*
.zsh-update
.zsh_history
Applications/
Applications (Parallels)/
Calibre Library/
Desktop/
Development
Documents/
Downloads/
Dropbox/
Dropbox-Music
Google Drive/
Library/
Movies/
Music/
Pictures/
PrivateFolder.dmg
Public/
Source/
UNCC/
_Creative/
• BT Transfers/
