*.json
.CFUserTextEncoding
.DS_Store
.InstallAnywhere/
.Trash/
.Trash-1000/
.Xauthority
.adobe/
.bash_history
.bash_profile.macports-saved_2014-10-19_at_19:40:30
.cache/
.config/
.dbshell
.dropbox/
.dropbox-alt/
.eclimrc
.eclipse/
.emacs.d/
.flexlmrc*
.gitconfig
.gnuplot_history
.heroku/
.jmc/
.lldb/
.m2/*
.maplesoft/
.meteor/
.meteorite/
.meteorsession
.mongorc.js
.netrc
.node-gyp/
.npm/
.nvm/
.lesshst
.local/
.oh-my-zsh/*
.oracle_jre_usage/
.p2/
.rnd
.sandbox/
.ssh/
.subversion/
.swipl-dir-history/
.swp
.viminfo
.vim/.netrwhist
.vim/.ycm*
.vim/bundle/*
.vim/eclim/
.vim/JavaImp/
.vim/plugin/eclim.vim
.zcompcache/
.zcompdump*
.zhistory
.zlogin
.zlogout
.zprezto/
.zpreztorc
.zprofile
.zshenv
.zshrc-e
.wapi/
.zsh-update
.zsh_history
Applications/
Applications (Parallels)/
Calibre Library/
Creative/
Desktop/
Development
Documents/
Downloads/
Dropbox/
Dropbox-Music
Google Drive/
GTD/
Library/
Movies/
Music/
Pictures/
PrivateFolder.dmg
Public/
Source/
UNCC/
Work/
• BT Transfers/
workbench.xmi
